{% extends 'base.html' %}
{% load static %}


{% block title %}GYUrop{% endblock %}

{% block content %}


<section class="showcase">
    <div class="container-fluid p-0">
      <div class="row no-gutters">

        <div class="col-lg-6 order-lg-2 text-white showcase-img about-1"></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Experienced</h2>
          <p class="lead mb-0">We are a small team of healthcare professionals that understand the communication challenges faced in hospitals. You can trust that we will find a solution to your problems.</p>
          </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 text-white showcase-img about-2" ></div>
        <div class="col-lg-6 my-auto showcase-text">
          <h2>Nimble</h2>
          <p class="lead mb-0">We don't answer to shareholders, we answer to our fellow healthcare professionals. Our products are built with one purpose at the fore front, making healthcare professionals lives more effective and efficient.</p>
          </div>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6 order-lg-2 text-white showcase-img about-3" ></div>
        <div class="col-lg-6 order-lg-1 my-auto showcase-text">
          <h2>Secure</h2>
          <p class="lead mb-0">Our customers become our family and we would never endanger our family members. We take data security very seriously and take all precautions to provide a safe haven from nefarious actors.</p>
        </div>
      </div>
    </div>
  </section>

  


{% endblock %}